ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.mainFrame {
     background-color: beige;
     text-align: center;
}

.Introduction{
    height: 768px;
    background-color: bisque;
}


.CardView{
    margin: 5px;
    align-content: center;
    background-color: #333;
    color: aliceblue;
    width: 33%;
    border-radius: 12px;
}

.CardSection{
    align-content: center;
}

  
  li {
    float:left;
    font-size: large;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }