@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet"')

*{
  box-sizing: border-box;
/*  font-family: 'Poppins', sans-serif;*/
}
body {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-attachment: fixed;
  background-image: linear-gradient(315deg, #00008B 0%, #000000 74%);
  background-position: center center;
  background-size: cover;
}

.astronant{
  position: fixed;
  z-index: -1;
  width: 200px;
  height: auto;
  /*background-image: url("planet.png");*/
}

.astronant img{
  position: absolute;
  width: 150px;
  height: auto;
  left: 350px;
  top: 100px;
}

.planet{
  
  width: 500;
  height: 500;
  position: fixed;
  z-index: -1;
  -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0));
  /*background-image: url("planet.png");*/
}

.planet img{
  position: absolute;
  width: 500;
  height: auto;
  /*-webkit-mask-size: 100% 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;*/
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 300s linear infinite;
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}

@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
#menu-section{
  backdrop-filter: blur(20px);
  height: 60px;
}
#menu-section > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu-section > ul li {
  float:left;
  font-size: 20;
  border-width: 1px;
}

#menu-section >ul >li a{
  color: #FAF9F6;
  border-width: 1px;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#menu-section >ul > li a:hover {
  background-color:#FAF9F6;
  color: #111;
  box-shadow: 0px 3px 3px #31313165;
  border-radius: 10px;
}

.intro-section{
    height: 400px;
    vertical-align: auto;
    /*text-align: center;*/
    /*background-image: linear-gradient( #6082B6, #FFFFFF00);*/
}

.intro-section .text-area{
  position: absolute;
  width: 350px;
  top: 20%;
  right: 50px;
  display: block;
/*  display: inline-block;*/
}

.intro-section .text-area h1{
  text-align: right;
  color: #ffffff;
  font-family:  "Playfair Display", serif;
  font-style: normal;
/*  text-shadow: 1px 1px 1px #aaa;*/
  font-size: 50;
  line-height: 20px;
}

.intro-section .text-area h3{
  color: #ffffff99;
  text-align: right;
  line-height: 5px;
}

.intro-section .text-area p{
  color: #ffffffdd;
  float:right;
  text-align: right;
  margin-top: -5px;
  font-size: 20;
  font-family: "Montserrat", serif;
}

.skills-section{
  width: 700px;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 60%;
  margin: 0 0 0 -350px;
  z-index: 1;
}

.skills-section .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
/*  background: #191970;*/
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.skills-section .button:hover{
/*  background: #fff;*/
  width: 200px;
}

.skills-section .button .icon{
  position: relative;
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
  background: #191970;
}

.skills-section .button:nth-child(1):hover .icon{
  background: #00A36C;
}
.skills-section .button:nth-child(2):hover .icon{
  background: #702963;
}
.skills-section .button:nth-child(3):hover .icon{
  background: #D22B2B;
}
.skills-section .button:nth-child(4):hover .icon{
  background: #FFBF00;
}
.skills-section .button:nth-child(5):hover .icon{
  background: #0818A8;
}

.skills-section .button .icon i{
  font-size: 25px;
  line-height: 60px;
}

.skills-section .button:hover .icon i{
  color: #fff;
/*  background-image: url("moon.png");*/
}

.skills-section .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}
/*
.skills-section .button:hover span{
  color: black;
}*/

#projects-heading{
  color: #fff;
  font-size: 25pt;
  text-align: center;
  font-family:  "Playfair Display", serif;
  font-style: normal;
  text-shadow: 1px 1px 1px #aaa;
  margin-top: 50px;
}

.projects-section {
  height: fit-content;
  display: grid;
  grid-template-columns: 50% 50%;
}

.projects-section .card{
  position: relative;
  padding: 3px;
  height: 300px;
  margin: 13px;
  display: grid;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 25px;
  align-content: flex-start;
  backdrop-filter: blur(100px);
/*  background-color: #191970;*/
  background-image: linear-gradient(#191970, #191970);
/*  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);*/
}

.projects-section .card .name{
  font-size: 25;
  font-weight: bold;
  position: absolute;
  top: 20;
  left: 25px;
}

.projects-section .card .content{
  position: absolute;
  top: 90;
  left: 25;
  font-size: 18;
  line-height: 25px;
  font-family: "Times New Roman", serif;
}

.projects-section .card .content-box{
  position: absolute;
  left: 0;
  width: 290px;
  height: 100%;
}

.projects-section .button{
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  left: 25px;
  font-weight: bold;
  width: fit-content;
  padding: 10px;
  border-radius: 25px;
  opacity: 0.8;
  color: black;
  background: #fff;
}

.projects-section .button:hover{
  opacity: 1;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
/*justify-content: center;*/

.projects-section .card .image-box{
  width: auto;
  height: auto;
  position: absolute;
  top: 20;
  bottom: 20;
  left: 300px;
  right: 20;
  justify-content: center;
}

.projects-section .card img{
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.about-section{
  width: 600px;
  height: 550px;
  text-align: center;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  left: 50%;
  margin-left: -300px;
  border-radius: 20px;
  color: white;
  padding: 20px;
  backdrop-filter: blur(100px);
}
.about-section .content{
  display: inline-grid;
  letter-spacing: 1px;
  width: 400px;
  font-size: 20;
  text-align: left;
  position: absolute;
  left: 50%;
  white-space: pre-line;
  margin-left: -175px;
  text-indent: 50px;
  line-height: 40px;
  font-family: "Montserrat", serif;
}

.toolbar {
  margin-bottom: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
  backdrop-filter: blur(100px);
/*  background-color: #191970;*/
}

.toolbar .socials-section {
  display: inline-flex;
}

.toolbar .socials-section .button{
  display: inline-flex;
  height: 50px;
  width: 50px;
  color: black;
  margin: 0 5px;
  overflow: hidden;
  background: #ffffff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.toolbar .socials-section .button:hover{
  width: 150;
}

.toolbar .socials-section .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

.toolbar .socials-section .button .icon i{
  width: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 3px 3 px #00000055;
  font-size: 25;
  line-height: 50px;
}

.toolbar .contact-info{
  display: block;
  margin: 30px;
}

.toolbar .contact-info p{
  color: white;
  font-size: 20;
}